---
http_interactions:
- request:
    method: get
    uri: https://api.github.com/user
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - token 12c5f40c556562373ed7116c53006c47a58d80b5
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Status:
      - 200 OK
      X-Ratelimit-Limit:
      - '5000'
      X-Ratelimit-Remaining:
      - '4996'
      X-Ratelimit-Reset:
      - '1517516203'
      Etag:
      - W/"5017e57dc9020695618ca972d1c63bb2"
      Last-Modified:
      - Mon, 29 Jan 2018 17:37:08 GMT
      X-Oauth-Scopes:
      - gist, repo, user
      X-Accepted-Oauth-Scopes:
      - ''
      X-Oauth-Client-Id:
      - d47b768c1954f951405b
      X-Github-Media-Type:
      - github.v3; format=json
    body:
      encoding: ASCII-8BIT
      string: '{"login":"Tyjoo26","id":28966191,"avatar_url":"https://avatars1.githubusercontent.com/u/28966191?v=4","gravatar_id":"","url":"https://api.github.com/users/Tyjoo26","html_url":"https://github.com/Tyjoo26","followers_url":"https://api.github.com/users/Tyjoo26/followers","following_url":"https://api.github.com/users/Tyjoo26/following{/other_user}","gists_url":"https://api.github.com/users/Tyjoo26/gists{/gist_id}","starred_url":"https://api.github.com/users/Tyjoo26/starred{/owner}{/repo}","subscriptions_url":"https://api.github.com/users/Tyjoo26/subscriptions","organizations_url":"https://api.github.com/users/Tyjoo26/orgs","repos_url":"https://api.github.com/users/Tyjoo26/repos","events_url":"https://api.github.com/users/Tyjoo26/events{/privacy}","received_events_url":"https://api.github.com/users/Tyjoo26/received_events","type":"User","site_admin":false,"name":"Timothy
        Joo","company":null,"blog":"","location":"Denver, CO","email":null,"hireable":null,"bio":"Aspiring
        software developer that loves new ideas!","public_repos":51,"public_gists":21,"followers":0,"following":0,"created_at":"2017-05-25T21:03:16Z","updated_at":"2018-01-29T17:37:08Z","private_gists":0,"total_private_repos":0,"owned_private_repos":0,"disk_usage":1588,"collaborators":0,"two_factor_authentication":false,"plan":{"name":"free","space":976562499,"collaborators":0,"private_repos":0}}'
  recorded_at: Thu, 01 Feb 2018 19:20:16 GMT
- request:
    method: get
    uri: https://api.github.com/user/repos?per_page=51
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - token 12c5f40c556562373ed7116c53006c47a58d80b5
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Status:
      - 200 OK
      X-Ratelimit-Limit:
      - '5000'
      X-Ratelimit-Remaining:
      - '4995'
      X-Ratelimit-Reset:
      - '1517516203'
      Etag:
      - W/"e3ae22b599198fa19feb3be80e672e61"
      X-Oauth-Scopes:
      - gist, repo, user
      X-Accepted-Oauth-Scopes:
      - ''
      X-Oauth-Client-Id:
      - d47b768c1954f951405b
      X-Github-Media-Type:
      - github.v3; format=json
      Link:
      - <https://api.github.com/user/repos?per_page=51&page=2>; rel="next", <https://api.github.com/user/repos?per_page=51&page=2>;
        rel="last"
    body:
      encoding: ASCII-8BIT
      string: '[{"id":103158164,"name":"black_thursday","full_name":"erikaannesmith/black_thursday","owner":{"login":"erikaannesmith","id":24626685,"avatar_url":"https://avatars0.githubusercontent.com/u/24626685?v=4","gravatar_id":"","url":"https://api.github.com/users/erikaannesmith","html_url":"https://github.com/erikaannesmith","followers_url":"https://api.github.com/users/erikaannesmith/followers","following_url":"https://api.github.com/users/erikaannesmith/following{/other_user}","gists_url":"https://api.github.com/users/erikaannesmith/gists{/gist_id}","starred_url":"https://api.github.com/users/erikaannesmith/starred{/owner}{/repo}","subscriptions_url":"https://api.github.com/users/erikaannesmith/subscriptions","organizations_url":"https://api.github.com/users/erikaannesmith/orgs","repos_url":"https://api.github.com/users/erikaannesmith/repos","events_url":"https://api.github.com/users/erikaannesmith/events{/privacy}","received_events_url":"https://api.github.com/users/erikaannesmith/received_events","type":"User","site_admin":false},"private":false,"html_url":"https://github.com/erikaannesmith/black_thursday","description":null,"fork":true,"url":"https://api.github.com/repos/erikaannesmith/black_thursday","forks_url":"https://api.github.com/repos/erikaannesmith/black_thursday/forks","keys_url":"https://api.github.com/repos/erikaannesmith/black_thursday/keys{/key_id}","collaborators_url":"https://api.github.com/repos/erikaannesmith/black_thursday/collaborators{/collaborator}","teams_url":"https://api.github.com/repos/erikaannesmith/black_thursday/teams","hooks_url":"https://api.github.com/repos/erikaannesmith/black_thursday/hooks","issue_events_url":"https://api.github.com/repos/erikaannesmith/black_thursday/issues/events{/number}","events_url":"https://api.github.com/repos/erikaannesmith/black_thursday/events","assignees_url":"https://api.github.com/repos/erikaannesmith/black_thursday/assignees{/user}","branches_url":"https://api.github.com/repos/erikaannesmith/black_thursday/branches{/branch}","tags_url":"https://api.github.com/repos/erikaannesmith/black_thursday/tags","blobs_url":"https://api.github.com/repos/erikaannesmith/black_thursday/git/blobs{/sha}","git_tags_url":"https://api.github.com/repos/erikaannesmith/black_thursday/git/tags{/sha}","git_refs_url":"https://api.github.com/repos/erikaannesmith/black_thursday/git/refs{/sha}","trees_url":"https://api.github.com/repos/erikaannesmith/black_thursday/git/trees{/sha}","statuses_url":"https://api.github.com/repos/erikaannesmith/black_thursday/statuses/{sha}","languages_url":"https://api.github.com/repos/erikaannesmith/black_thursday/languages","stargazers_url":"https://api.github.com/repos/erikaannesmith/black_thursday/stargazers","contributors_url":"https://api.github.com/repos/erikaannesmith/black_thursday/contributors","subscribers_url":"https://api.github.com/repos/erikaannesmith/black_thursday/subscribers","subscription_url":"https://api.github.com/repos/erikaannesmith/black_thursday/subscription","commits_url":"https://api.github.com/repos/erikaannesmith/black_thursday/commits{/sha}","git_commits_url":"https://api.github.com/repos/erikaannesmith/black_thursday/git/commits{/sha}","comments_url":"https://api.github.com/repos/erikaannesmith/black_thursday/comments{/number}","issue_comment_url":"https://api.github.com/repos/erikaannesmith/black_thursday/issues/comments{/number}","contents_url":"https://api.github.com/repos/erikaannesmith/black_thursday/contents/{+path}","compare_url":"https://api.github.com/repos/erikaannesmith/black_thursday/compare/{base}...{head}","merges_url":"https://api.github.com/repos/erikaannesmith/black_thursday/merges","archive_url":"https://api.github.com/repos/erikaannesmith/black_thursday/{archive_format}{/ref}","downloads_url":"https://api.github.com/repos/erikaannesmith/black_thursday/downloads","issues_url":"https://api.github.com/repos/erikaannesmith/black_thursday/issues{/number}","pulls_url":"https://api.github.com/repos/erikaannesmith/black_thursday/pulls{/number}","milestones_url":"https://api.github.com/repos/erikaannesmith/black_thursday/milestones{/number}","notifications_url":"https://api.github.com/repos/erikaannesmith/black_thursday/notifications{?since,all,participating}","labels_url":"https://api.github.com/repos/erikaannesmith/black_thursday/labels{/name}","releases_url":"https://api.github.com/repos/erikaannesmith/black_thursday/releases{/id}","deployments_url":"https://api.github.com/repos/erikaannesmith/black_thursday/deployments","created_at":"2017-09-11T16:08:38Z","updated_at":"2017-09-14T14:16:17Z","pushed_at":"2017-09-21T01:45:52Z","git_url":"git://github.com/erikaannesmith/black_thursday.git","ssh_url":"git@github.com:erikaannesmith/black_thursday.git","clone_url":"https://github.com/erikaannesmith/black_thursday.git","svn_url":"https://github.com/erikaannesmith/black_thursday","homepage":null,"size":1724,"stargazers_count":0,"watchers_count":0,"language":"Ruby","has_issues":true,"has_projects":true,"has_downloads":true,"has_wiki":true,"has_pages":false,"forks_count":0,"mirror_url":null,"archived":false,"open_issues_count":7,"license":null,"forks":0,"open_issues":7,"watchers":0,"default_branch":"master","permissions":{"admin":false,"push":true,"pull":true}},{"id":108905271,"name":"littleshop","full_name":"erikaannesmith/littleshop","owner":{"login":"erikaannesmith","id":24626685,"avatar_url":"https://avatars0.githubusercontent.com/u/24626685?v=4","gravatar_id":"","url":"https://api.github.com/users/erikaannesmith","html_url":"https://github.com/erikaannesmith","followers_url":"https://api.github.com/users/erikaannesmith/followers","following_url":"https://api.github.com/users/erikaannesmith/following{/other_user}","gists_url":"https://api.gi[...]
