<<<<<<< HEAD
<%= link_to "Sign in with Github", "/auth/github" %>
=======
<div class="LoginBox">
  <%= link_to "Login",
  "https://github.com/login/oauth/authorize?client_id=d47b768c1954f951405b&scope=repo" %>  
</div>
>>>>>>> master
